{% extends "_base.html" %}
{% load i18n %}

{% block content %}
<h2 class="fw-bold">{% trans "Advertising campaign statistics" %}</h2>
<div class="row bg-white px-3 py-3 mx-2 my-5 rounded pb-5 shadow-lg">
    <div class="col">
        <ul class="list-group">
            {% for ad in ads %}
            <li class="list-group-item list-group-item-light d-flex justify-content-between">
                <a href="{% url 'advertisements:detail' ad.pk %}" class="text-decoration-none link-dark">{{ ad.name }}</a>
                <p>
                    {% blocktrans count leads_count=ad.leads_count %}
                        {{ leads_count }} lead
                    {% plural %}
                        {{ leads_count }} leads
                    {% endblocktrans %}
                    |
                    {% blocktrans count customers_count=ad.customers_count %}
                        {{ customers_count }} active customer
                    {% plural %}
                        {{ customers_count }} active customers
                    {% endblocktrans %}
                    |
                    {% trans "Contract to cost ratio" %}: {{ ad.profit|default_if_none:"-" }}
                </p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}