{% extends "_base.html" %}
{% load i18n %}

{% block content %}
<h2 class="fw-bold">{% trans "Deleting a customers" %}</h2>
<div class="row bg-white px-3 py-3 mx-2 my-5 rounded pb-5 shadow-lg">
    <div class="col"></div>
    <div class="col">
        <p>{% trans "Are you sure you want to delete " %} "{{ object.lead.last_name }} {{ object.lead.first_name }}"?</p>
        <form method="POST" action="{% url 'customers:delete' object.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
            <a href="{% url 'contracts:detail' object.pk %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}